{% extends 'basePatient.html.twig' %}

{% block title %}Ajout d'une demande de RDV{% endblock %}

{% block body %}
<main class="main" id="main">
        <div class="pagetitle">
            <h3>Enregistrement d'un Rendez-Vous</h3>
        </div>

    <div class="card-body">
            {{ form(formRDV) }}
        </div>


        
        
    </main>

{% endblock %}
